.Search_bar{
    padding: 0.8rem;
}

.outlined-basic{
    width: 100%;
}

.table{
    padding: 0.1rem;
}

.MuiDataGrid-row{
    border: 1px solid red;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}