.Search_bar{
    padding: 0.8rem;
}

.outlined-basic{
    width: 100%;
}


.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;


}

button.MuiButton-root {
    margin-bottom: 1rem;
}

